<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                FitStar by Fitbit
            </h2>
            <p>
                A personal trainer or yoga teacher in your pocket. 
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
            <p>
                FitStar is a customized workout application for iPhone, Android, web, and wearables. Each time you're ready to workout, the algorithm creates a new personalized video session you can do anywhere. Our current products are Personal Trainer with Tony Gonzalez, and Yoga with Tara Stiles. 
            </p>
            <p>
                I am a product designer at FitStar, working on UX, visual, and interaction design problems.   
            </p>
        </div>
        <div class="work_section">
            <h3>
                FitStar Personal Trainer
            </h3>
            <p>
                The first FitStar product was brought to life on iPad, and became the #1 Personal Training product in the app store. The core experience of the app is the session experience, which leads users into their daily workout, and lets them select whether each move is "too easy" "just right", or "too hard". When they come back for their next session, there is a new session waiting for them, based on prior feedback.  
            </p>
            <div class="product_images">
                <img class="iphone" src="/img/iphone/pt_pre_session.png"/>
                <img class="iphone" src="/img/iphone/pt-pre_move.png"/>
                <img class="iphone_vert" src="/img/android/dashboard_nexus.png"/>
                <img class="iphone_vert" src="/img/android/freestyle_nexus.png"/>
                <img class="iphone_vert" src="/img/android/freestyle_2_nexus.png"/>
                <img class="ipad" src="/img/ipad/pt_pre_session.png"/>
                <img class="ipad" src="/img/ipad/pt_session.png"/>
                <img class="web" src="/img/FTW/ftw_freestyle.png"/>
            </div>
        </div>
        <div class="work_section_last">
            <h3>
                FitStar Yoga
            </h3>
            <p>
                The success of Personal Trainer paved the way for the new yoga product. Set up with the same overall architecture, the in-session experience had to be very different. Yoga is the practice of breath to movement, meaning the constant breaks for feedback that we implemented in Personal Trainer wouldn't work. Transitions lead in and out of each pose, with voice over instruction narrating the sequence. During the session, users can tap the "struggle button" always on screen, or pause to give full feedback. After the final resting pose, users are prompted to say whether key poses were "too easy, "just right", or "too hard".  
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/ipad/yoga_session.png"/>
                <img class="ipad" src="/img/ipad/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_pre_session.png"/>
                <img class="iphone" src="/img/iphone/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_customize.png"/>
            </div>
        </div>
    </div>
</div>
