<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Fitstar by Fitbit
            </h2>
            <p>
                A personal trainer and yoga teacher in your pocket.
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
            <p>
                Fitstar is a customized workout application for iPhone, Android, web, and wearables. Each time you're ready to workout, the algorithm creates a new personalized video workout you can do anywhere.
            </p>
            <p>
                I was a product designer at Fitbit for 3 years, working on UX, visual, and interaction design problems.
            </p>
            <p>
                With the release of the product refresh in January 2017, the Fitbit app teams were doing well. the Fitbit app was the #1 download, and the Fitstar app was at #2.
            </p>
            <a class="ref_link" href="http://fitstar.com/" target="_blank"><p>Learn more about Fitstar by Fitbit</p><a/>
            <div class="product_images">
                <img class="iphone_vert" src="/img/iphone/top_downloads.jpg"/>
            </div>
        </div>
        <div class="work_section">
            <h3>
                Fitstar Personal Trainer
            </h3>
            <p>
                The first Fitstar product was brought to life on iPad, and became the #1 Personal Training product in the app store. The core experience of the app is the workout experience, which leads users into their daily workout, and lets them select whether each move is "too easy" "just right", or "too hard". When they come back for their next session, there is a new session waiting for them, based on prior feedback.
            </p>
            <p>
                Users receive workout recommendations each day on the dashboard. Their curated list of workouts is based on their recent Fitbit and Fitstar activity.
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/phones-1.png"/>
                <img class="iphone" src="/img/iphone/4_iphone_preview_horizontal.jpg"/>
                <img class="iphone" src="/img/iphone/5_iphone_workout.jpg"/>
                <img class="ipad" src="/img/phones-2.png"/>
            </div>
            <p>
            In the Fitbit app, users can see the personalized workouts suggested for them that day. Once they select one, they're redirected to the Fitstar app so they can follow along with the video workout.
            </p>
            <div>
                <img class="ipad" src="/img/phones-3.png"/>
                <img class="ipad" src="/img/ipad/12_ipad_dashboard.jpg"/>
                <img class="ipad" src="/img/ipad/13_ipad_preview.jpg"/>
            </div>
        </div>
        <div class="work_section">
            <h2>
                FitStar on Fitbit Blaze
            </h2>
            <div class="work_section">
                <p>
                    A fitness watch that's as stylish as it is smart. The FitStar app launched as a core feature of the Blaze.
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/blaze/blaze_fitstar_device.png"/>
                </div>
                <a class="ref_link" href="https://www.fitbit.com/blaze" target="_blank"><p>Check out the Blaze ></p><a/>
            </div>
            <div class="work_section_last">
                <h2>
                    FitStar on the Apple Watch
                </h2>
                <p>
                    FitStar was one of the first fitness teams to launch an app on the Apple Watch.
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/apple_watch/pt_apple_watch.jpg"/>
                    <img class="ipad" src="/img/apple_watch/yoga_apple_watch.png"/>
                </div>
            </div>
        </div>
        <div class="work_section_last">
            <h3>
                FitStar Yoga
            </h3>
            <p>
                The success of Personal Trainer paved the way for the new yoga product. Set up with the same overall architecture, the in-session experience had to be very different. Yoga is the practice of breath to movement, meaning the constant breaks for feedback that we implemented in Personal Trainer wouldn't work. Transitions lead in and out of each pose, with voice over instruction narrating the sequence. During the session, users can tap the "struggle button" always on screen, or pause to give full feedback. After the final resting pose, users are prompted to say whether key poses were "too easy, "just right", or "too hard".
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/ipad/yoga_session.png"/>
                <img class="ipad" src="/img/ipad/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_pre_session.png"/>
                <img class="iphone" src="/img/iphone/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_customize.png"/>
            </div>
        </div>
    </div>
</div>
