<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Fitstar by Fitbit
            </h2>
            <p>
                Fitbit Coach is a customized workout application for iPhone, Android, web, and wearables. Each time you're ready to workout, the algorithm creates a new personalized video workout you can do anywhere. The application works with data from Fitbit wearable devices to recommend fitness routines.
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
            <p>
                I was a product designer at Fitbit for 3 years, working on UX, visual, and interaction design problems.
            </p>
            <a class="ref_link" href="http://fitstar.com/" target="_blank"><p>Learn more about Fitbit coach ></p><a/>
        </div>
        <div class="work_section">
            <h3>
                iOS and Android
            </h3>
            <p>
                The core experience of the app is the workout experience, which leads users into their daily workout, and lets them select whether each move is "too easy" "just right", or "too hard". When they come back for their next session, there is a new session waiting for them, based on prior feedback.
            </p>
            <p>
                Key features and product innovations in the app include smart workout recommendations based on fitness activity, fitness levelling, audio coaching, and integration with other Fitbit products.
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/phones-1.png"/>
                <img class="ipad" src="/img/phones-2.png"/>
            </div>
            <a class="ref_link" href="https://itunes.apple.com/us/app/fitbit-coach/id535640259?mt=8" target="_blank"><p>Download Fitbit Coach for iOS ></p><a/>
              <a class="ref_link" href="https://play.google.com/store/apps/details?id=com.fitstar.pt&hl=en" target="_blank"><p>Download Fitbit Coach for Android ></p><a/>
        </div>
        <div class="work_section">
            <h2>
                Smartwatches
            </h2>
            <div class="work_section">
              <h4>
                  Fitbit Ionic
              </h4>
                <p>
                    The latest iteration of the Coach app is on Fitbit Ionic. After doing years of user testing and research in wearable and fitness motivation, we simplified the user experience even more and gave users a larger variety of workout options.
                </p>
                <div class="product_images">
                    <img class="iphone" src="/img/blaze/ionic_coach_render.png"/>
                    <img class="ipad" src="/img/blaze/higgs.jpg"/>
                </div>
                <a class="ref_link" href="https://www.fitbit.com/ionic" target="_blank"><p>Check out the Ionic ></p><a/>
            </div>
            <div class="work_section">
              <h4>
                  Fitbit Blaze
              </h4>
                <p>
                    The Coach app on Blaze was our first experiment with putting coached workouts on a Fitbit wearable. Taking key findings from our first wrist app on the Apple Watch, we kept the design simple and notification-based.
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/blaze/blaze_fitstar_device.png"/>
                </div>
                <a class="ref_link" href="https://www.fitbit.com/blaze" target="_blank"><p>Check out the Blaze ></p><a/>
            </div>
            <div>
              <h4>
                  Apple Watch
              </h4>
                <p>
                    Fitstar was one of the first fitness teams to launch an app on the Apple Watch. We had limited time to do user testing, but learned from designers and engineers working on the first Apple Watch to create the experience.
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/apple_watch/pt_apple_watch.jpg"/>
                    <img class="ipad" src="/img/apple_watch/yoga_apple_watch.png"/>
                </div>
            </div>
        </div>
        <div class="work_section_last">
            <h3>
                FitStar Yoga
            </h3>
            <p>
                Fitstar Yoga was set up as a secondary experience to the original Fitstar (now Fitbit Coach) app. Created with the same overall architecture, the in-session experience had to be very different. Yoga is the practice of breath to movement, meaning the constant breaks for feedback that we implemented in Personal Trainer wouldn't work. Transitions lead in and out of each pose, with voice over instruction narrating the sequence. During the session, users can tap the "struggle button" always on screen, or pause to give full feedback. After the final resting pose, users are prompted to say whether key poses were "too easy, "just right", or "too hard".
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/ipad/yoga_session.png"/>
                <img class="ipad" src="/img/ipad/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_pre_session.png"/>
                <img class="iphone" src="/img/iphone/yoga_feedback.png"/>
                <img class="iphone" src="/img/iphone/yoga_customize.png"/>
            </div>
        </div>
    </div>
</div>
