<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Glassbreakers
            </h2>
            <p>
                Mentorship for the modern woman. 
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
            <p>
                What the Glassbreakers community is... Can I talk about both consumer and enterprise? 
            </p>
        </div>
        <div class="work_section">
            <h3>
                Working with the product team
            </h3>
            <p>
                Talk about collaboration with Lauren and the product team. Link to article she wrote?
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
        </div>
        <div class="work_section_last">
            <h3>
                Building a community experience
            </h3>
            <p>
                Talk about the goals of the community and UX challenges that go along with it. Especially differences between consumer and enterprise product.  
            </p>
            <img src="/img/product_slider_1_fitstar.jpg" alt="FitStar Products" class="fitstar-product-1"/>
        </div>
    </div>
</div>
