<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Kubmo
            </h2>
            <p>
                Technology workshops for women in the developing world. 
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/FTW/kubmo.jpg"/>
            </div>
            <p>
                Kubmo works with global communities and programs to inspire women to pursue careers in technology and entrepreneurship. Please reach out if you're interested in a partnership!
            </p>
            <p>
                I created this project with Kinsey Durham while studying design at a graduate program in Boulder, called BDW.
            </p>
        </div>
        <div class="work_section">
            <h4>
                The BizTech Workshop
            </h4>
            <p>
                Kubmo partnered with the Muthaa Community Development Foundation for the first workshop in Nairobi, Kenya. Each woman in the program applied with a business idea. Once they were accepted, they received a smart phone, took part in the 3-day workshop, and were given a year of mentorship from professionals in their local community.  
        </div>
        <div class="work_section">
            <h4>
                Visionaria Workshops
            </h4>
            <p>
                In March of 2015, Kubmo went to Cusco, Peru to research a program and its participants called The Visionaria Network. We found that technology knowledge was low in the community, but this group of women were interested in learning. We returned in January, 2016 to teach a series of workshops to the same women in Urubumba, Peru. By the end of the week they had built a project using Google Drive, created LinkedIn profiles, and build personal websites using HTML and CSS.
            </p>
            <a class="ref_link" href="http://kubmo.github.io/" target="_blank"><p>Learn more about the curriculum ></p><a/>
            <div class="product_images">
                <img class="ipad" src="/img/kubmo/kubmo_workshop.jpeg"/>
            </div>
            <a class="ref_link" href="http://jbrooke1113.github.io/" target="_blank"><p>See an example of the websites built during the workshop ></p><a/>
        </div>

        <h2>
            Soiree
        </h2>
        <div class="work_section">
            <p>
                A lifestyle blog on Instagram about food culture. 
            </p>
            <div class="product_images">
                <img class="iphone_vert" src="/img/iphone/soiree_insta.png"/>
                <img class="iphone_vert" src="/img/soiree_logo_full.png"/>
                <a class="ref_link" href="https://www.instagram.com/soiree.life" target="_blank"><p>Follow us on Instagram ></p><a/>
            </div>
        </div>


        <h2>
            Glassbreakers
        </h2>
            <p>
                Mentorship for the modern woman. 
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/FTW/glassbreakers.png"/>
            </div>
            <p>
                Glassbreakers is a community for women to build their professional network, and meet peer mentors with similar career goals. The company started as a consumer product, and now is expanding into enterprise.
            </p>
            <div class="product_images">
                <img class="iphone_vert" src="/img/iphone/glassbreakers_insta.png"/>
            </div>
            <p>
                The team at Glassbreakers is lead by Lauren Mosenthal, a developer and product leader who I met at BDW. Along with the growing team of full time designers and engineers, there is a small team of design and copywriting contractors who work each week called "the forge". This contractor team meets on a weekly basis as needed. We work through problems with the product - white boarding, building, and designing. 
            </p>
            <a class="ref_link" href="https://medium.com/@laurenmosenthal/i-m-a-software-engineer-that-went-to-design-school-849a7355d885" target="_blank"><p>Read Lauren's blog post about the team ></p><a/>
        </div>
    </div>
</div>
