<div class="container-fluid">
    <div class="col-xs-12">
        <h3>
            Kubmo
        </h3>
        <p>
            FitStar is a Fitbit team that builds Video-based workout instructors on iOS, Android, and Web.  We currently offer two products; Personal Trainer, and Yoga. 
        </p>
        <div id="job-images">
            <img src="/img/product_slider_1_fitstar.png" alt="fitstar products" class="fitstar_product_1">
        </div>
        <p>
            As a product designer at FitStar, I work directly with engineering, product, and marketing teams to make product decisions, create UX documentation, and produce user interface designs and style guides to be implemented in the Yoga and Personal Trainer apps.  
        </p>
    </div>
</div>
