<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                FitStar on Fitbit Blaze
            </h2>
            <div class="work_section">
                <p>
                    A fitness watch that's as stylish as it is smart. The FitStar app launched as a core feature of the Blaze.
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/blaze/blaze_fitstar_device.png"/>
                </div>
                <a class="ref_link" href="https://www.fitbit.com/blaze" target="_blank"><p>Check out the Blaze ></p><a/>
            </div>
            <div class="work_section_last">
                <h2>
                    FitStar on the Apple Watch
                </h2>
                <p>
                    FitStar was one of the first fitness teams to launch an app on the Apple Watch. 
                </p>
                <div class="product_images">
                    <img class="ipad" src="/img/apple_watch/pt_apple_watch.jpg"/>
                    <img class="ipad" src="/img/apple_watch/yoga_apple_watch.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
