<div class="container-fluid">
    <div class="col-xs-12">
        <div class="work_section">
            <h2>
                Kubmo
            </h2>
            <p>
                Technology workshops for women in the developing world. 
            </p>
            <div class="product_images">
                <img class="ipad" src="/img/FTW/kubmo.png"/>
            </div>
            <p>
                Kubmo works with global communities and programs to inspire women to pursue careers in technology and entrepreneurship. Please reach out if you're interested in a partnership!
            </p>
            <p>
                I created this project with Kinsey Durham while studying design at a graduate program in Boulder, called BDW.
            </p>
        </div>
        <div class="work_section">
            <h3>
                The BizTech Workshop
            </h3>
            <p>
                Kubmo partnered with the Muthaa Community Development Foundation for the first workshop in Nairobi, Kenya. Each woman in the program applied with a business idea. Once they were accepted, they received a smart phone, took part in the 3-day workshop, and were given a year of mentorship from professionals in their local community.  
        </div>
        <div class="work_section_last">
            <h3>
                Visionaria Workshops
            </h3>
            <p>
                In March of 2015, Kubmo went to Cusco, Peru to research a program and its participants called The Visionaria Network. We found that technology knowledge was low in the community, but this group of women were interested in learning. We returned in January, 2016 to teach a series of workshops to the same women in Urubumba, Peru. By the end of the week they had built a project using Google Drive, created LinkedIn profiles, and build personal websites using HTML and CSS.
            </p>
            <a class="ref_link" href="http://kubmo.github.io/"><p>Learn more about the curriculum ></p><a/>
        </div>
    </div>
</div>
