/* Note: preload and postload css is embedded in index.html directly! */

@primary-color: #15E2C4;

body {
    background-color: #F4F4F4;
}

img {
    max-width: 100%;
}

.container-fluid {
    background-color: #ffffff;
}

#bay-image {
    height: 700px;
    background-image: url("/img/bay-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;

    #lawler-logo {
        width: 357px;
        padding-top: 40px;
    }
    #tagline {
        color: white;
        font-weight: 100;
        font-size: 80px;
        padding-top: 200px;
        max-width: 80%;
        margin: 0 auto;
    }
}


.container-fluid {
    max-width: 1274px;
}

#social_icons {
    margin-top: 30px;
    .icon {
        width: 60px;
        margin: 30px;
    }
}

#jobs-carousel {
    @carousel-padding: 15px;
    padding-top: @carousel-padding;
    img {
    }
    .col-left {
        padding-left: @carousel-padding;
        padding-right: @carousel-padding * 1/3;
    }
    .col-middle {
        padding-left: @carousel-padding * 2/3;
        padding-right: @carousel-padding * 2/3;
    }
    .col-right {
        padding-left: @carousel-padding * 1/3;
        padding-right: @carousel-padding;
    }
}

#jobs-container {
    img {
        max-width: 100%;
    }
}

.mermaid-slide {
    display: none;
}

/*
This governs the carousel sections
*/
#mermaid-panel {
    // Between bottom of pane and buttons
    margin-bottom: 25px;

    h3 {
        font-size: 60px;
        font-weight: 300;
    }
    p {
        font-size: 30px;
        font-weight: 300;
    }

    img.fitstar-product-1 {
        padding: 30px 12%;
    }
}

#bottom-button-row {
    display: none; // For load
    background-color: @primary-color;

    h3 {
        color: #ffffff;
        font-weight: 300;
    }
}

.navbar {
    display: none; // Shown selectively by mermaid.js

    @navbar-height: 70px;
    border: 0;
    height: @navbar-height;
    .container, .row, .col, .pull_right, a {
        height: @navbar-height;
    }
    a { display: inline-block;}
    background-color: @primary-color;
    .center {text-align: center;}
    img {
        max-height: 100%;
        max-width: 100%;
        padding: 10px 0;
        &.icon {
            padding: 20px 0 20px 20px;
        }
    }
}

